<?xml version="1.0" encoding="utf-8"?>
<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android"
    coreApp="true"
    package="com.android.documentsui.overlay.conquer">
    <overlay 
	android:targetPackage="com.android.documentsui" 
	android:isStatic="true" android:priority="100" />
</manifest>
